/* -------------------------- Body ---------------------------------- */
body {
    width: 70%;
    height: 70%;
    margin: auto;

    border: 1px solid black;
    padding: 2%;

    font-family: 'Dancing Script';
    text-align: justify;

    background-image: url("img/fondo.jfif");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    background-size: cover;

    background-attachment: fixed;
    overflow: scroll;

    -webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
    box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
}

div{
    padding: 2%;
}

/* ---------------------------  Header --------------------------------- */
body div div header{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #AACAD8;
    background-image: url("img/logo1.png");
    background-position: left;
    background-size: 12%;
    background-repeat: no-repeat;
    opacity: 0.90;

    -webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
    box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
}

/* ---------------------------  Nav ---------------------------------- */
body div div nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
    cursor : pointer;
}

body div div nav ul li:nth-child(4n){
    float:right
}
  
body div div nav ul li {
    float: left;
}
  
body div div nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
body div div nav ul li a:hover {
    background-color: #111;
}

body div div nav li>ul{
    display:none;
}

body div div nav li:hover>ul{
    display:block;
    position:absolute;
    
    top:12.5em;
    left:16.8em;
}



/* ---------------------------  Content -------------------------------- */


body div div aside{
    background-color: #E5ECEF;
    opacity: 0.90;

    border: 10px solid transparent;
    border-image: url(img/borde.jpg) 30 round;

    width: 30%;
    padding: 0.40%;
  
    float: right;
    font-style: italic;
    background-color: lightgray;

    position: static;
}

body div div section, article{
    width: 63%;

    background-color: #E5ECEF;
    opacity: 0.90;

    border: 10px solid transparent;
    border-image: url(img/borde.jpg) 30 round;
}

body div div article{
    margin-top: 1%;
}

/* ---------------------------  Footer -------------------------------- */
body div div footer{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #AACAD8;
    opacity: 0.90;

    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 40px; 
    -moz-column-gap: 40px; 
    column-gap: 40px;
    -webkit-column-rule-style: solid; 
    -moz-column-rule-style: solid; 
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; 
    -moz-column-rule-width: 1px; 
    column-rule-width: 1px;

    -webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
    box-shadow: 0px 1px 25px 4px rgba(0,0,0,1);
}

footer a{
    text-decoration: none;
    background-color: #faeddc;
    padding: 1%;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 1%;
    color: #111;

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

footer a:hover{
    background-color: #596d94;
    color: white;
}


